<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="post" action="{% url 'jwt_auth:register-api' %}">
        {% csrf_token %}
        {{ form.login }}
        {{ form.password }}
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-check-circle"></i> Зарегестрироваться
        </button>
    </form>
    <h2>Авторизация</h2>
    <form method="post" action="{% url 'jwt_auth:login-api' %}" >
        {% csrf_token %}
        {{ form.login }}
        {{ form.password }}
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-check-circle"></i> Зарегестрироваться
        </button>
    </form>
    <h2>Смена токена</h2>
    <form method="post" action="{% url 'jwt_auth:refresh-api' %}" >
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-check-circle"></i> Зарегестрироваться
        </button>
    </form>
</body>
</html>



