<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for el in events %}
    {{ el.name }}
    {{ el.date }}
    {{ el.status }}
    {{ el.place.name }}
{% endfor %}
<form method="get" class="booking-form">
    {% csrf_token %}
    {{ form.name }}
    <button class="btn btn-primary mt-3" type="submit">
        <i class="fas fa-search"></i> Найти мероприятие
    </button>
</form>
<script>
    function fetchWithAuth(url, options = {}) {
    const token = localStorage.getItem('access_token');

    if (!token) {
        window.location.href = '/api/auth/register'
    }
    options.headers = {
        ...options.headers,
        'Authorization': `Bearer ${token}`,
    };
    return fetch(url, options);
}
fetchWithAuth('http://127.0.0.1:8000/events/')
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error('Error:', error));
</script>
</body>
</html>